<form action='@Url.Action("CatDonacionesGuardar","Home")' method="post">
    <p>Seleccioná lo que buscás:</p>

    @foreach(Categoria item in ViewBag.Categorias)
    {
        <label>
            <input type="checkbox" name="intereses" value="@item.IDCategoriaDonacion"> @item.nombre
        </label><br>

    }

    <button type="submit">Enviar</button>
</form>
