<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="Historial">
        <h1>Historial</h1>
      
        <p class="section-fecha">Hoy</p>
        <div class="card">
          <div class="card-content">
            <h2>Participaste en el voluntariado “Conectá Saberes” ¡Felicitaciones!</h2>
            <p>Voluntariado</p>
          </div>
          <button class="btn-vermas">Ver más</button>
        </div>
      
        <p class="section-fecha">Hace 2 semanas</p>
        <div class="card">
          <div class="card-content">
            <h2>Donaste juguetes a la institución “Abrazaz” ¡Gracias!</h2>
            <p>Donación</p>
          </div>
          <button class="btn-vermas">Ver más</button>
        </div>
      
        <div class="card">
          <div class="card-content">
            <h2>Asististe al evento “Manos Verdes”</h2>
            <p>Evento</p>
          </div>
          <button class="btn-vermas">Ver más</button>
        </div>
      
        <p class="section-fecha">Hace 4 semanas</p>
        <div class="card">
          <div class="card-content">
            <h2>¡Bienvenido a AyudActiva!</h2>
            <p>Evento</p>
          </div>
          <button class="btn-vermas">Ver más</button>
        </div>
      </section>
</body>
</html>