    <a href='@Url.Action("Registro","Home")'class ="btn"> REGISTRARSE</a>
    <a href='@Url.Action("Login","Home")'class ="btn">INICIAR SESIÓN</a>


    @{
    ViewData["Title"] = "Index";
}
<!-- ===== Banner ===== -->
<section class="banner">
  <div class="banner-text">
    <h1>Conectamos personas con causas que transforman comunidades.</h1>
    <p>Sumate. Compartí tu tiempo, tus ideas y tus recursos.</p>
  </div>
</section>


<!-- ===== Comunidad ===== -->
<section class="comunidad">
  <h2>Creemos en una comunidad que se activa.</h2>
  <p>
    AyudActiva surge para facilitar el encuentro entre quienes quieren aportar y las organizaciones que necesitan apoyo.
    Promovemos la inclusión social mediante acciones solidarias y colaborativas.
  </p>
  <button>Nuestro propósito</button>
  <hr>
</section>


<!-- ===== Acciones ===== -->
<section class="acciones">
  <div class="accion">
    <img src="~/Imagenes/Iconografia3-AyudActiva.jpg" alt="icono causas">
    <h1><strong>Actuá.</strong>Sumate y hacé posible el cambio en tu comunidad.</h1>
  </div>


  <div class="accion destacada">
    <img src="~/Imagenes/Iconografia4-AyudActiva.jpg" alt="icono actuar">
    <h1><strong>Actuá.</strong>Sumate y hacé posible el cambio en tu comunidad.</h1>
  </div>


  <div class="accion">
    <img src="~/Imagenes/Iconografia1-AyudActiva.jpg" alt="icono conectar">
    <h1><strong>Actuá.</strong>Sumate y hacé posible el cambio en tu comunidad.</h1>
  </div>


  <a href="#" class="btn-empeza">Empezá ahora</a>
  <hr>
</section>




<!-- ===== Proyectos ===== -->
<section class="proyectos">
  <h2>Proyectos que ya están cambiando realidades</h2>


  <div class="tarjeta">
    <img src="~/Imagenes/mbappe.webp" alt="Huellitas Happy">
    <div class="texto">
      <h1>Huellitas Happy</h1>
      <h3>
        Una campaña que promueve el bienestar y felicidad de los animales rescatados. Sumate a esta causa para seguir
        generando hogares felices.
      </h3>
      <button>Participar</button>
    </div>
  </div>


  <div class="tarjeta">
    <img src="~/Imagenes/mbappe.webp" alt="Seamos útiles">
    <div class="texto">
      <h1>Seamos útiles</h1>
      <h3>
        Colecta solidaria para incluir útiles escolares y donarlos a estudiantes de comunidades vulnerables. Ayudemos a
        potenciar la educación.
      </h3>
      <button>Participar</button>
    </div>
  </div>
</section>


<!-- ===== Reseñas ===== -->
<section class="resenas">
  <h2>Reseñas</h2>
  <div class="personas">
    <div class="persona">
    <img src="~/Imagenes/mbappe.webp" alt="Seamos útiles">
      <h3>Nicolás</h3>
      <p>“Participar en las campañas me permitió conocer personas increíbles y ayudar de verdad.”</p>
    </div>


    <div class="persona">
    <img src="~/Imagenes/mbappe.webp" alt="Seamos útiles">
      <h3>Amber</h3>
      <p>“AyudActiva me enseñó que con poco tiempo se pueden hacer grandes cambios.”</p>
    </div>
  </div>
</section>


