@{
    ViewData["Title"] = "Login";
}

<div class="login">
<h1>Inicia Sesion</h1>
<div class = "login-box">
<form action='@Url.Action("LoginGuardar","Home")' method="post">
      <input type="text" name="username" placeholder="Username">
      <input class="input" type="password" name="password" id="password" placeholder="Contraseña">
      <input class="login-button" type="submit" value="Enviar">
      <a class="boton"href='@Url.Action("RegistroUser","Home")'class="btn">Registrate</a>
    </form>


</div></div>


</div>
