<section class="registrar-section">
  <h2 class="registrar-titulo">Elegí tu tipo de cuenta</h2>




  <div class="elegir-container">
    <p>Seleccioná el tipo de usuario con el que querés registrarte</p>




    <div class="elegir-botones">
      <a asp-controller="Cuenta" asp-action="RegistrarDonante" class="elegir-boton">
        <h1>Donante</h1>
      </a>
      <a asp-controller="Cuenta" asp-action="RegistrarOng" class="elegir-boton">
        <h1>ONG</h1>
      </a>
    </div>
  </div>
</section>
