<section class="registrar-section">
  <h2 class="registrar-titulo">Elegí tu tipo de cuenta</h2>




  <div class="elegir-container">
    <p>Seleccioná el tipo de usuario con el que querés registrarte</p>




    <div class="elegir-botones">
      <a asp-controller="Cuenta" asp-action="RegistrarDonante" class="elegir-boton">
        <img src="~/imagenes/icon-donante.png" alt="Donante" class="elegir-icono">
        <span>Donante</span>
      </a>




      <a asp-controller="Cuenta" asp-action="RegistrarOng" class="elegir-boton">
        <img src="~/imagenes/icon-ong.png" alt="ONG" class="elegir-icono">
        <span>ONG</span>
      </a>
    </div>
  </div>
</section>
