USE [master]
GO
/****** Object:  Database [AyudActiva1]    Script Date: 30/10/2025 15:35:58 ******/
CREATE DATABASE [AyudActiva1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AyudActiva1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AyudActiva1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AyudActiva1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AyudActiva1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AyudActiva1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AyudActiva1]
GO
/****** Object:  User [alumno]    Script Date: 30/10/2025 15:35:58 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CategoriasDonaciones]    Script Date: 30/10/2025 15:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasDonaciones](
	[IDCategoriaDonacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CategoriasDonaciones] PRIMARY KEY CLUSTERED 
(
	[IDCategoriaDonacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizaciones]    Script Date: 30/10/2025 15:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizaciones](
	[IDOrganizacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[latitud] [varchar](50) NOT NULL,
	[longitud] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Organizaciones] PRIMARY KEY CLUSTERED 
(
	[IDOrganizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrgCat]    Script Date: 30/10/2025 15:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrgCat](
	[IDOrganizacion] [int] NOT NULL,
	[IDCategoriaDonacion] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/10/2025 15:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriasDonaciones] ON 

INSERT [dbo].[CategoriasDonaciones] ([IDCategoriaDonacion], [nombre]) VALUES (1, N'Alimentos')
INSERT [dbo].[CategoriasDonaciones] ([IDCategoriaDonacion], [nombre]) VALUES (2, N'Ropa')
INSERT [dbo].[CategoriasDonaciones] ([IDCategoriaDonacion], [nombre]) VALUES (3, N'Artículos para bebé')
SET IDENTITY_INSERT [dbo].[CategoriasDonaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizaciones] ON 

INSERT [dbo].[Organizaciones] ([IDOrganizacion], [nombre], [latitud], [longitud], [descripcion]) VALUES (1, N'Cáritas Buenos Aires', N'-34.603722', N'-58.381592', N'Organización de ayuda social y apoyo comunitario.')
INSERT [dbo].[Organizaciones] ([IDOrganizacion], [nombre], [latitud], [longitud], [descripcion]) VALUES (2, N'Fundación Manos Abiertas', N'-34.617000', N'-58.445000', N'Asistencia a familias en situación vulnerable.')
INSERT [dbo].[Organizaciones] ([IDOrganizacion], [nombre], [latitud], [longitud], [descripcion]) VALUES (3, N'Banco de Alimentos', N'-34.566000', N'-58.450000', N'Recupera alimentos para distribuirlos a comedores comunitarios.')
SET IDENTITY_INSERT [dbo].[Organizaciones] OFF
GO
INSERT [dbo].[OrgCat] ([IDOrganizacion], [IDCategoriaDonacion]) VALUES (1, 1)
INSERT [dbo].[OrgCat] ([IDOrganizacion], [IDCategoriaDonacion]) VALUES (1, 2)
INSERT [dbo].[OrgCat] ([IDOrganizacion], [IDCategoriaDonacion]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IDUsuario], [nombre], [apellido], [username], [contrasena], [fechaNacimiento], [email]) VALUES (1, N'Lucía', N'Fernández', N'luciaf', N'pass123', CAST(N'2004-07-12' AS Date), N'luciaf@gmail.com')
INSERT [dbo].[Usuarios] ([IDUsuario], [nombre], [apellido], [username], [contrasena], [fechaNacimiento], [email]) VALUES (2, N'Mateo', N'Gómez', N'mateog', N'pass123', CAST(N'1999-03-25' AS Date), N'mateog@hotmail.com')
INSERT [dbo].[Usuarios] ([IDUsuario], [nombre], [apellido], [username], [contrasena], [fechaNacimiento], [email]) VALUES (3, N'Sofía', N'Martínez', N'sofim', N'pass123', CAST(N'2008-11-02' AS Date), N'sofia.m@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[OrgCat]  WITH CHECK ADD  CONSTRAINT [FK_OrgCat_CategoriasDonaciones] FOREIGN KEY([IDCategoriaDonacion])
REFERENCES [dbo].[CategoriasDonaciones] ([IDCategoriaDonacion])
GO
ALTER TABLE [dbo].[OrgCat] CHECK CONSTRAINT [FK_OrgCat_CategoriasDonaciones]
GO
ALTER TABLE [dbo].[OrgCat]  WITH CHECK ADD  CONSTRAINT [FK_OrgCat_Organizaciones] FOREIGN KEY([IDOrganizacion])
REFERENCES [dbo].[Organizaciones] ([IDOrganizacion])
GO
ALTER TABLE [dbo].[OrgCat] CHECK CONSTRAINT [FK_OrgCat_Organizaciones]
GO
USE [master]
GO
