USE [master]
GO
/****** Object:  Database [AyudActiva1]    Script Date: 25/11/2025 08:20:45 ******/
CREATE DATABASE [AyudActiva1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AyudActiva1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AyudActiva1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AyudActiva1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AyudActiva1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AyudActiva1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AyudActiva1]
GO
/****** Object:  User [alumno]    Script Date: 25/11/2025 08:20:45 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CategoriasDonaciones]    Script Date: 25/11/2025 08:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasDonaciones](
	[IDCategoriaDonacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CategoriasDonaciones] PRIMARY KEY CLUSTERED 
(
	[IDCategoriaDonacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizaciones]    Script Date: 25/11/2025 08:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizaciones](
	[IDOrganizacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[latitud] [varchar](50) NOT NULL,
	[longitud] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Organizaciones] PRIMARY KEY CLUSTERED 
(
	[IDOrganizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrgCat]    Script Date: 25/11/2025 08:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrgCat](
	[IDOrganizacion] [int] NOT NULL,
	[IDCategoriaDonacion] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/11/2025 08:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrgCat]  WITH CHECK ADD  CONSTRAINT [FK_OrgCat_CategoriasDonaciones] FOREIGN KEY([IDCategoriaDonacion])
REFERENCES [dbo].[CategoriasDonaciones] ([IDCategoriaDonacion])
GO
ALTER TABLE [dbo].[OrgCat] CHECK CONSTRAINT [FK_OrgCat_CategoriasDonaciones]
GO
ALTER TABLE [dbo].[OrgCat]  WITH CHECK ADD  CONSTRAINT [FK_OrgCat_Organizaciones] FOREIGN KEY([IDOrganizacion])
REFERENCES [dbo].[Organizaciones] ([IDOrganizacion])
GO
ALTER TABLE [dbo].[OrgCat] CHECK CONSTRAINT [FK_OrgCat_Organizaciones]
GO
USE [master]
GO
